{% extends 'dashboard/index.html' %}
{% block title %} Blog Post {% endblock %}

{% block content %}
<div class="container mt-4">
    {% include 'message.html' %}
    <h2 class="text-center">Add Blog Post</h2>
    <form action="{{url_for('blog_post')}}" method="post" enctype="multipart/form-data">
        {% from 'formhelpers.html' import render_field %}
        {{form.hidden_tag()}}
        <div>
            {{render_field(form.title,class='form-control')}}
        </div>
        <div>
            {{render_field(form.content,class='form-control')}}
        </div>
        <div>
            <label for="category"><h5>Add a category</h5></label><br>
                <select name="category" id="category" class="form-control" required>
                    <option value="">Add a category</option>
                    {% for category in categories %}
                    <option value="{{category.id}}">{{category.name}}</option>
                    {% endfor %}
                </select>
        </div>
        <div>
            {{render_field(form.image,class='form-control')}}
        </div>
        <div>
            {{form.submit(class='btn btn-primary')}}
        </div>
    </form>
    {{ckeditor.load()}}
    {{ckeditor.config(name='content')}}
</div>
{% endblock %}