{% extends 'dashboard/index.html' %}
{% block title %} Profile {% endblock %}

{% block content %}
<div class="container">
    <div class="container mt-4">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Edit</th>
                <th>Delete</th>
                <th>Profile</th>
            </tr>
            <tr>
                <td>{{current_user.name}}</td>
                <td>{{current_user.username}}</td>
                <td>{{current_user.email}}</td>
                <td><a href="{{url_for('edit_profile',id=user.id)}}" class='btn btn-primary'>Edit</a></td>
                <td><a href="#" class='btn btn-danger'>Delete</a></td>
                <td>
                {% if user.profile %}
                <img src="{{url_for('static',filename='pictures/' + user.profile)}}" class="img-rounded" width="50" height="40">
            
                {% else %}
                <img src="{{ url_for('static', filename='pictures/default_pic.png') }}" class="img-rounded" width="50" height="40">
                {% endif %}
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}